services:
  tracker:
    build: .
    container_name: jeonghoo_tracker
    restart: unless-stopped
    network_mode: host
    
    # .env 파일에서 환경변수 로드
    env_file:
      - .env
    
    volumes:
      - ./debug:/app/debug
      - ./yolo26n_jeonghoo_openvino_model:/app/yolo26n_jeonghoo_openvino_model
